<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Indicadores Económicos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2 class="text-center">Valores al día de hoy</h2>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile *ngFor="let item of listIndicador">
            <mat-card (click)="goToDetail(item)" class="full-width" style="padding:22px 16px 22px 16px">
                <p>{{item.valor}}</p>
                <p>{{item.nombre}}</p>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</ion-content>
